@tailwind base;
@tailwind components;
@tailwind utilities;

/* .body {
  background: #f9f9f9;
} */

/* Heading Style */
.Heading {
  font-size: 32px;
  font-weight: bold;
  margin-left: 65px;
}

/* Nav-bar Style */
.nav-bar {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */

  background: #ffffff;
}

.Nav_wrapper {
  border: 2px solid purple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 32px 64px;
}

/* clear */
.Nav_wrapper .Nav_logo_wrap {
  border: 1px solid blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.Nav_wrapper .Roomsize_Style {
  border: 1px solid purple;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

/* ใส่สี text ยังไง? */
.Nav_wrapper .Start_Exploring {
  background: #222223;
  border-radius: 12px;
  padding: 20px 40px;
}

/* Card Style */
.card_wrapper {
  /* border: 2px solid purple; */
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  padding: 0px;
  margin: 10px;
  /* border-radius: 24px; */
}

/* กรอบเส้นเหมือนของ Card Wrapper ไม่ได้อยู่แค่ตัวรูป */
.card_wrapper .card_picture {
  width: 100%;
  height: auto;
  border-radius: 24px 24px 0px 0px;
  border: 3px solid green;
}

.card_wrapper .description {
  /* border: 1px solid green; */
  padding-top: 32px;
  padding-bottom: 24px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 0px 0px 24px 24px;
}

/* ขนาด Text ไม่ยอมเปลี่ยน */
.card_wrapper .description .h3 {
  font-size: 22px;
}

.card_wrapper .description .Card_line {
  width: 100%;
  height: 0px;
  border: 1px solid #000000;
  margin-top: 26px;
  margin-bottom: 26px;
}

.card_wrapper .description .Room-desctiption {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card_wrapper .description .Style {
  /* border: 1px solid salmon; */
  font-size: 18px;
}
.card_wrapper .description .Roomsize {
  /* border: 1px solid salmon; */
  font-size: 18px;
}

.card-row {
  border: 1px solid salmon;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 26px;
  position: center;
}
